@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.neon-orange-border {
  border-color:#FF5F1F
}

.neon-orange {
  color:#FF5F1F

}

.neon-pink {
  /* color: #FF44CC;
  filter: brightness(125%); */
  color: #4666FF

}

.neon-blue {
  color:#4666FF
}

.neon-blue-border {
  border-color: #4666FF;
}

.table {
  border-spacing: 3px;
}

.min-w-450 {
  min-width: 450px;
}

.text-color-green {
  color:#bcfd49;
}
.border-neon-green {
  border-color: #bcfd49;
}

.neon-blue-shadow {
  /* box-shadow: 0 4px 6px -1px #4666FF, 0 2px 4px -2px #4666FF; */
  box-shadow: 0 0px 35px 0px #4666FF, 0 4px 6px -4px #4666FF
}

.neon-blue-inner {
  box-shadow: inset 0 0 3px#4666FF;
}

.min-width-card {
  min-width: 321px;
}

.neon-red {
  color: #FF3131;
}

.neon-orange-inner {
  box-shadow: inset 0 0 3px#FF5F1F
}

.neon-green-inner {
  box-shadow: inset 0 0 3px#bcfd49;;
}

.border-color-green {
  border-color: #bcfd49;
}

.hot-pink-button {
  background: linear-gradient(to right, #f953c6, #b91d73);
}

.hot-pink-button:hover {
  opacity: 50%;
}

.hot-pink-gradient {
  background: linear-gradient(to right, #f953c6, #b91d73);
}

.hot-pink-hover {
  background:black;
}

.hot-pink-hover:hover {
  background: linear-gradient(to right, #f953c6, #b91d73);
}

.badge-red{
  background:#FF3131;
}

.badge-solid-green{
  background:green;
}

.badge-pink{
  background: linear-gradient(to right, #f953c6, #b91d73);
}

.badge-green {
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

.badge-blue {
  background: linear-gradient(to right, #396afc, #2948ff);
}

.badge-yellow {
  background: linear-gradient(to right, #fdc830, #f37335);

}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}
